*{
    padding:0;
    margin:0;
}

body{
    background-image:url("img/ImageBackgroundPortfolio.png");
}

.headermoi{
    height: 20%;
    display: flex;
    background-color: darkslategray;
    font-size: large;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

[alt="Photo Bibard Yann"]{
    width: 100%;
    height: 100%;
}

a:any-link
{ 
    text-decoration:none;
    color:black;
}

a:hover{
    color:white;
}

main{
    width:100%;
}

.apropos{
    display:flex;
    justify-content: center;
    padding:2%;
    align-items: center;
    height: 10%;
}

.imgmoi{
    width: 10%;
}

.proposmoi{
    width:30%;
    text-align: center;
    font-size: 30px;
}

.textmoi{
    padding-left: 1%;
    font-size: 20px;
}

.projetstext{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

#ProjetsRetex{
    padding-left: 10%;
}

#ProjetsRetex img{
    width: 15%;
    height:130px;
    filter: grayscale();
    transition: filter 0.4s ease-in-out;
}

#ProjetsRetex img:hover{
    filter: none;
}

.contactPerso{
    font-size: 24px;
    padding: 10px;
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.ImgContact {
    display: flex;
    justify-content: center;
}

.ImgContact img {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
}

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}
 
.timeline ol {
  font-size: 0;
  width: 100vw;
  padding:10%;
  transition: all 1s;
}
 
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}
 
.timeline ol li:last-child {
  width: 280px;
}
 
.timeline ol li:not(:first-child) {
  margin-left: 14px;
}
 
.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
  }
   
  .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
  }
   
  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
  }

  .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
  }
   
  .timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
  }